@import url('https://fonts.googleapis.com/css2?family=Nunito&display=swap');

.body{
    background-color: #1B998B;
    font-family: "Nunito";
}

#my-grid{
    min-height:100vh;
    
}

.timer-container{
    border-radius: 30px;
    background: rgb(255, 255, 255, .5);
    margin-top: 35%;
    box-shadow: 0 3px 10px rgb(0 0 0 / 0.5);
}

#timer-settings{
    margin-top: 10px;
    margin-left: 90%;
    border-radius: 20px;
    background-color: transparent;
    border: none;
    outline: none;
}

#timer{
    margin-top: 1px;
    color: white;
    font-size: 72px;
}

p {
  margin-top: 0;
  margin-bottom: 0px;
}

.timing-option{
    margin-bottom: 1em;
}


#timer-button{
    border-radius: 10px;
    margin-bottom: 10px;
    box-shadow: 0 3px 10px rgb(0 0 0 / 0.2);
    color:#ff7e47

}

/* MODALS */
#timer-modal{
    background-color: black;
}

/* END OF MODALS */


/* .container{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;

} */

.right-container{
    padding-top:10px;
    min-width: 85%;
    font-family: sans-serif;
    overflow: auto;
    background:rgb(255, 255, 255,.5);
    height: 450px;
    border-radius:30px;
    text-align:center;
    color:#000;
    margin-top:28%;
    box-shadow: 0 3px 10px rgb(0 0 0 / 0.5);

}
#myInput{
    min-height:50px;
    padding:10px;
    font-weight:500;
    border-radius:5px;
    border:none;
    min-width:65%;
}
#myInput:focus {
    /* border: 1px solid blue; */
    border:none;
    color: #000; /* text color when input is focused */
    box-shadow: 0 0 5px #4CAF50; /* box-shadow when input is focused */
}

.addBtn {
    min-height: 40px;
    text-align: center;
    line-height: 35px; /* adjust this value to center the text vertically */
}



.right-container ul {
    list-style:none;
    padding-inline-start:0;
    padding: 30px 30px;

}

.right-container li {
    background-color:#ffffff;
    line-height:35px;
    border:none;
    border-radius:5px;
    text-align:left;
    padding-left:25px;
    padding-right: 5px;
    padding-top: 5px;
    padding-bottom:5px;
    margin-top:10px;
    display: flex;
    justify-content:space-between;
}

.deleteBtn {
    background-color: #ff7e47;
    color: #fff;
    border-radius: 5px;
    padding: 5px;
    border:none;
}

 /* music container */

 @import url('https://fonts.googleapis.com/css?family=Lato&display=swap');

* {
  box-sizing: border-box;
}

body {
  background-color: #1B998B;
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-family: 'Lato', sans-serif;
  margin: 0;
}

.music-container {
  background: rgba(239, 241, 243, 0.5);
  box-shadow: 0 3px 10px rgb(0 0 0 / 0.5);
  /* height: 140px; */
  /* width: 395px; */
  border-radius: 30px;
  display: flex;
  position: relative;
  /* margin-left: 160px; */
  margin-top: 30px;
  padding-bottom: 20px;
  z-index: 10;
}

.img-container {
  position: relative;
  width: 110px;
}

.img-container::after {
  content: '';
  background-color: #fff;
  border-radius: 50%;
  position: absolute;
  bottom: 100%;
  left: 50%;
  width: 20px;
  height: 20px;
  transform: translate(-50%, 50%);
}

.img-container img {
  border-radius: 50%;
  object-fit: cover;
  height: 110px;
  width: inherit;
  position: absolute;
  bottom: 0;
  left: 0;
  animation: rotate 3s linear infinite;

  animation-play-state: paused;
}

.music-container.play .img-container img {
  animation-play-state: running;
}

@keyframes rotate {
  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(360deg);
  }
}

.navigation {
  background-color: transparent;
  align-items: center;
  width: 100%;
  padding-top: 12%;
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 1;
}

.action-btn {
  background-color: transparent;
  border: 0;
  color: #eff1f3;
  font-size: 35px;
  cursor: pointer;
  padding: 10px;
  margin: 0 20px;
}

.action-btn:hover {
  color: #ff7e47;
}

.music-info {
  background-color: transparent;
  border-radius: 30px;
  position: absolute;
  width: 85%;
  margin-left: 7.5%;
  opacity: 1;
  margin-top: 9%;
  z-index: 0;
}

.music-info h4 {
  margin: 0;
}

.progress-container {
  background: #eff1f3;
  border-radius: 5px;
  cursor: pointer;
  margin: 10px 0;
  height: 4px;
  width: 100%;
}

.progress {
  background-color: #ff7e47;
  border-radius: 5px;
  height: 100%;
  width: 0%;
  transition: width 0.1s linear;
}

 /* end music container */

 .music-type-buttons {
  background-color: transparent;
  border-color: transparent;
 }

 #headphone-img {
  margin-top: 100px;
  width: 100%;
  height: 80px;
 }

 #cloud-img {
  margin-top: 100px;
  width: 100%;
  height: 80px;
 }

 .music-type-container {
  align-items: center;
  margin-top: -14%;
  margin-left: 26%;
  width: 50%;
  height: 10%;
 }
